<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="manifest" href="/javascripts/manifest.json">
    <script>
			if (!window.App) {
				window.App = {};
			}
    </script>
</head>
<body>
<div id="chart-warp">
    <a id="amcharts-logo" href="https://www.amcharts.com/" rel="home">amCharts</a>
    <div id="chartdiv">
    </div>
</div>
<div id="main-warp">
    <div id="main" class="container-fluid h-100 d-flex flex-column">
        <div class="row flex-fill d-flex justify-content-start">
            <div id="base_chart_div" class="col">Left chart area</div>
            <div id="main_chart_div" class="col-11"></div>
            <div id="result_chart_div" class="col">Right chart area</div>
        </div>
    </div>
</div>


<div id="main_overlay" class="d-flex">
    <div class="col-6 p-0">
        <div class="top current_time">
            <span class="title">현재시간:</span>
            <span class="value">00:00:00</span>
        </div>
        <div class="mid base_value_group">
            <div style="height:103px;"></div>
            <table>
                <tr class="base">
                    <td>
                        <div class="label">
                            <span class="title">기준(평균)</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="binance">
                    <td>
                        <div class="label">
                            <span class="title">바이낸스</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="idax">
                    <td>
                        <div class="label">
                            <span class="title">IDAX</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="time_label start_time">
            <span>01:00</span>
        </div>
        <div class="time_label base_time">
            <span>02:00</span>
        </div>
    </div>
    <div class="col-6 p-0">
        <div class="top current_price">
            <span class="title">현재가격:</span>
            <span class="value">3903.22</span>
            <span class="up_down_indicator up">▲</span>
        </div>
        <div class="mid result_value_group">
            <div class="high_low_text up">HIGH</div>
            <table>
                <tr class="base">
                    <td>
                        <div class="label">
                            <span class="title">결과(평균)</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="binance">
                    <td>
                        <div class="label">
                            <span class="title">바이낸스</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="idax">
                    <td>
                        <div class="label">
                            <span class="title">IDAX</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="time_label end_time">
            <span>03:00</span>
        </div>
    </div>
</div>

<div id="break_time_overlay" class="overlay">
    <div class="overlay_text">
        <div class="image" style="width:100%;height:264px;"></div>
        <div class="label">30초</div>
    </div>
</div>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/lang/ko_KR.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="/javascripts/constant.js"></script>
<script src="/javascripts/mainChart.js"></script>
<script src="/javascripts/upDownChart.js"></script>
<script src="/javascripts/dummyChart.js"></script>
<script src="/javascripts/main.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		App.main.start();
	});
</script>
</body>
</html>
